In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('./Sanduiches.txt', sep='\t')

In [ ]:
df.head(20)

In [26]:
colunas = ['Id', 'Idade', 'Sexo', 'Profissao', 'Codigo']
usuarios = pd.read_csv('./Users.txt', sep='|', header = None, names = colunas)

In [27]:
usuarios.head()

   Id  Idade Sexo   Profissao Codigo
0   1     24    M  technician  85711
1   2     53    F       other  94043
2   3     23    M      writer  32067
3   4     24    M  technician  43537
4   5     33    F       other  15213

In [28]:
ufo = pd.read_csv('./ufo.csv', sep=',')

In [30]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [31]:
fixo = pd.read_fwf('./LarguraFixa.txt')

In [32]:
fixo.head()

,USAF,WBAN,STATION NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
0,7005,99999,CWOS 07005,NaN,NaN,NaN,NaN,NaN,NaN,20120127,20120127
1,7011,99999,CWOS 07011,NaN,NaN,NaN,NaN,NaN,NaN,20111025,20121129
2,7018,99999,WXPOD 7018,NaN,NaN,NaN,0.0,0.0,7018.0,20110309,20130730
3,7025,99999,CWOS 07025,NaN,NaN,NaN,NaN,NaN,NaN,20120127,20120127
4,7026,99999,WXPOD 7026,AF,NaN,NaN,0.0,0.0,7026.0,20120713,20141120

In [33]:
esp = pd.read_csv('./SepEspaco.txt', sep=' ')

In [35]:
esp.head(100)

,Year,Month,Day,Hour,Temp,DewTemp,Pressure,WindDir,WindSpeed,Sky,Precip1,Precip6
0,1912,4,1,6,114,94,10121,200,120,8,-9999,-9999
1,1912,4,1,9,146,96,10122,240,140,8,-9999,-9999
2,1912,4,2,6,172,122,10146,210,40,2,-9999,40
3,1912,4,2,9,193,-9999,10150,240,210,1,-9999,0
4,1912,4,2,12,188,125,10152,240,250,1,-9999,0
5,1912,4,3,6,163,119,10170,240,40,4,-9999,0
6,1912,4,3,9,182,122,10186,240,60,2,-9999,0
7,1912,4,4,6,154,125,10173,0,0,0,-9999,0
8,1912,4,4,9,186,134,10180,360,20,0,-9999,0
9,1912,4,4,12,202,145,10169,40,60,0,-9999,0
10,1912,4,5,9,248,157,10149,60,40,2,-9999,0
11,1912,4,5,12,256,177,10137,60,40,4,-9999,0
12,1912,4,5,15,-9999,-9999,10137,-9999,-9999,4,-9999,0
13,1912,4,6,0,46,23,10217,0,0,0,-9999,0
14,1912,4,6,6,212,144,10120,40,20,1,-9999,0
15,1912,4,6,9,228,154,10144,240,190,7,-9999,-9999
16,1912,4,7,6,170,128,10173,0,0,8,-9999,0
17,1912,4,8,6,172,117,10188,220,140,1,-9999,0
18,1912,4,9,9,188,128,10192,240,80,2,-9999,-9999
19,1912,4,9,12,196,130,10182,240,40,3,-9999,0
20,1912,4,10,6,168,100,10178,270,40,0,-9999,0
21,1912,4,11,6,174,128,10205,40,40,2,-9999,0
22,1912,4,11,9,210,139,10213,360,40,4,-9999,-9999
23,1912,4,12,6,183,-108,10192,20,20,0,-9999,0
24,1912,4,12,9,204,150,10186,200,40,0,-9999,-9999
25,1912,4,13,6,188,120,10126,0,0,0,-9999,0
26,1912,4,13,9,220,161,10129,240,60,0,-9999,0
27,1912,4,14,6,198,151,10137,-9999,-9999,0,-9999,0
28,1912,4,14,9,222,184,10145,320,20,0,-9999,-9999
29,1912,4,15,6,198,132,10157,180,20,0,-9999,0
...,...,...,...,...,...,...,...,...,...,...,...,...
70,1912,5,8,9,310,98,10078,220,190,3,-9999,0
71,1912,5,8,15,208,169,10120,240,170,3,-9999,-9999
72,1912,5,9,9,218,144,10158,240,140,1,-9999,-9999
73,1912,5,9,12,214,155,10158,260,140,3,-9999,0
74,1912,5,9,15,204,147,10160,240,120,6,-9999,-9999
75,1912,5,10,6,198,140,10170,20,60,1,-9999,0
76,1912,5,10,9,210,157,10168,320,40,1,-9999,0
77,1912,5,10,12,212,159,10165,280,60,1,-9999,0
78,1912,5,10,15,198,151,10150,40,60,4,-9999,-9999
79,1912,5,11,9,256,164,10088,240,20,5,-9999,0
80,1912,5,11,12,250,181,10074,40,60,7,-9999,0
81,1912,5,11,15,232,185,10085,340,60,8,-9999,0
82,1912,5,12,6,198,144,10110,240,160,3,-9999,0
83,1912,5,12,9,176,84,-9999,300,120,4,-9999,-9999
84,1912,5,12,12,222,141,10108,240,210,4,-9999,0
85,1912,5,13,9,216,157,10154,240,170,1,-9999,0
86,1912,5,14,6,202,152,10173,20,40,4,-9999,0
87,1912,5,14,9,214,69,10176,280,60,2,-9999,0
88,1912,5,14,12,214,165,10176,260,60,5,-9999,0
89,1912,5,15,6,198,165,-9999,60,80,0,-9999,0
90,1912,5,15,9,216,153,10180,40,100,0,-9999,0
91,1912,5,16,9,156,-9999,-9999,0,0,0,-9999,-9999
92,1912,5,16,12,234,184,10176,360,40,1,-9999,0
93,1912,5,17,9,238,160,10178,20,40,0,-9999,0
94,1912,5,17,12,258,154,10166,60,60,0,-9999,0
95,1912,5,18,6,240,168,10142,40,80,5,-9999,-9999
96,1912,5,18,12,266,-9999,10130,260,60,3,-9999,0
97,1912,5,18,15,248,200,10121,40,40,1,-9999,-9999
98,1912,5,19,6,234,194,10156,40,20,2,-9999,0
99,1912,5,20,6,232,192,10117,320,20,2,-9999,0