In [1]:
import pandas as pd
import numpy as np

In [3]:
lista = pd.Series([12,13,14,15,16,17,18])

In [4]:
type(lista)

pandas.core.series.Series

In [5]:
lista

0    12
1    13
2    14
3    15
4    16
5    17
6    18
dtype: int64

In [6]:
lista.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
lista[4]

16

In [11]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

In [12]:
meses_sr = pd.Series(np.arange(1,13), index = meses)

In [13]:
meses_sr

Janeiro       1
Fevereiro     2
Março         3
Abril         4
Maio          5
Junho         6
Julho         7
Agosto        8
Setembro      9
Outubro      10
Novembro     11
Dezembro     12
dtype: int64

In [16]:
titulos = {'Brazil': 5, 'Alemanha': 4, 'Itália': 4}

In [19]:
worldcup = pd.Series(titulos)

In [20]:
worldcup

Brazil      5
Alemanha    4
Itália      4
Name: wcSeries, dtype: int64

In [25]:
titulos = pd.Series(
    titulos,
    index = ['Brazil', 'Alemanha', 'Itália', 'Espanha'],
    name = 'wcSeries')

In [27]:
titulos  # Observar o valor nulo, identificado por NaN (Not a Number)

Brazil      5.0
Alemanha    4.0
Itália      4.0
Espanha     NaN
Name: wcSeries, dtype: float64

In [28]:
titulos.index

Index(['Brazil', 'Alemanha', 'Itália', 'Espanha'], dtype='object')

In [31]:
titulos['Brazil']

5.0

In [32]:
titulos['Espanha'] = 2

In [33]:
titulos

Brazil      5.0
Alemanha    4.0
Itália      4.0
Espanha     2.0
Name: wcSeries, dtype: float64

In [39]:
titulos[titulos>3]

Brazil      5.0
Alemanha    4.0
Itália      4.0
Name: wcSeries, dtype: float64

In [40]:
xls = pd.ExcelFile('./Alunos.xlsx')

In [41]:
print(xls.sheet_names)

['Alunos', 'Notas', 'Trimestre']

In [42]:
alunos = xls.parse('Alunos')

In [43]:
alunos.head()

   Alunos
0     Ana
1   Clara
2   Célia
3    João
4  Carlos

In [44]:
type(alunos)

pandas.core.frame.DataFrame

In [ ]:
# Como não é uma série, e sim um DataFrame, não consegue acessar por índice.
alunos[1]   # Dá erro!

In [47]:
# DataFrame faz indexação por [linha][coluna], então para trazer o primeiro elemento:
alunos['Alunos'][0]

'Ana'

In [48]:
# Ou em forma de DOT NOTATION
alunos.Alunos[0]

'Ana'

In [49]:
trimestre = xls.parse('Trimestre')

In [57]:
trimestre.columns   # Imprime as colunas do DataFrame.

Index(['Alunos', 'Sobrenome', 'Mês 01', 'Mês 02', 'Mês 03'], dtype='object')

In [58]:
trimestre['Mês 01'][0]  # Prefira usar com o colchetes, ao invés do DOT NOTATION, porque o dot não aceita se tiver
# espaço no nome da coluna.

5.7

In [59]:
trimestre.shape  # 8 linhas e 5 colunas

(8, 5)

## Criando um novo DataSet, concatenando o nome e sobrenome, fazendo uma nova coluna com o nome completo.

In [63]:
trimestre['Nome Completo'] = trimestre['Alunos'] + ' ' + trimestre['Sobrenome']

In [65]:
trimestre

    Alunos  Sobrenome  Mês 01  Mês 02  Mês 03     Nome Completo
0      Ana     Santos     5.7     6.8     4.6        Ana Santos
1    Clara      Mafra     9.9     7.0     9.0       Clara Mafra
2    Célia    Tavares     8.0     8.0     9.0     Célia Tavares
3     João      Nunes     9.9     9.0     8.0        João Nunes
4   Carlos  Guilherme     7.0     7.5     6.0  Carlos Guilherme
5    Jorge      Silva     6.8     7.0     5.0       Jorge Silva
6   Lilian     Vianna     7.8     8.0     8.5     Lilian Vianna
7  Antônio      Costa     7.0     6.5     6.0     Antônio Costa

In [71]:
trimestre['Media'] = (trimestre['Mês 01'] + trimestre['Mês 02'] + trimestre['Mês 03']) / 3  # Criei a coluna média.

In [72]:
trimestre

    Alunos  Sobrenome  Mês 01  Mês 02  Mês 03     Nome Completo     Media
0      Ana     Santos     5.7     6.8     4.6        Ana Santos  5.700000
1    Clara      Mafra     9.9     7.0     9.0       Clara Mafra  8.633333
2    Célia    Tavares     8.0     8.0     9.0     Célia Tavares  8.333333
3     João      Nunes     9.9     9.0     8.0        João Nunes  8.966667
4   Carlos  Guilherme     7.0     7.5     6.0  Carlos Guilherme  6.833333
5    Jorge      Silva     6.8     7.0     5.0       Jorge Silva  6.266667
6   Lilian     Vianna     7.8     8.0     8.5     Lilian Vianna  8.100000
7  Antônio      Costa     7.0     6.5     6.0     Antônio Costa  6.500000

In [75]:
max(trimestre['Media'])  # Maior nota.

8.966666666666667