In [2]:
import pandas as pd
import numpy as np

In [28]:
diarias = pd.read_csv('./Diarias.csv', encoding = 'latin-1', sep = '\t')  # Precisar passar o encoding, pois o 
# arquivo tem acentos, 'Ç' e etc.

In [29]:
diarias.head(3)

,Código Órgão Superior,Nome Órgão Superior,Código Órgão Subordinado,Nome Órgão Subordinado,Código Unidade Gestora,Nome Unidade Gestora,Código Função,Nome Função,Código Subfunção,Nome Subunção,...,Nome Programa,Código Ação,Nome Ação,Linguagem Cidadã,CPF Favorecido,Nome Favorecido,Documento Pagamento,Gestão Pagamento,Data Pagamento,Valor Pagamento
0,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800780,1,06/02/2017,1263.2
1,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.008.30*-**,HUMBERTO GUEDES CAMPELO,2017OB800993,1,20/02/2017,2325.2
2,20000,PRESIDENCIA DA REPUBLICA,20101,PRESIDENCIA DA REPUBLICA,110001,SECRETARIA DE ADMINISTRACAO/PR,4,Administração,122,Administração Geral,...,Programa de Gestão e Manutenção da Presidência...,2000,Administração da Unidade,Administração de unidade,***.016.72*-**,ANTONIO JOSE DE SENA BOMFIM,2017OB800926,1,14/02/2017,300.2

In [11]:
diarias.columns

Index(['Código Órgão Superior', 'Nome Órgão Superior',
       'Código Órgão Subordinado', 'Nome Órgão Subordinado',
       'Código Unidade Gestora', 'Nome Unidade Gestora', 'Código Função',
       'Nome Função', 'Código Subfunção', 'Nome Subunção', 'Código Programa',
       'Nome Programa', 'Código Ação', 'Nome Ação', 'Linguagem Cidadã',
       'CPF Favorecido', 'Nome Favorecido', 'Documento Pagamento',
       'Gestão Pagamento', 'Data Pagamento', 'Valor Pagamento'],
      dtype='object')

In [30]:
max(diarias['Valor Pagamento'])  # Traz o maior valor da coluna 'Valor Pagamento'

35626.5

In [ ]:
sorted(diarias['Valor Pagamento'], reverse=True) # Para confirmar, utilizei a função sorted reverse para trazer o maior.

In [32]:
type(diarias)

pandas.core.frame.DataFrame

In [33]:
diarias.columns

Index(['Código Órgão Superior', 'Nome Órgão Superior',
       'Código Órgão Subordinado', 'Nome Órgão Subordinado',
       'Código Unidade Gestora', 'Nome Unidade Gestora', 'Código Função',
       'Nome Função', 'Código Subfunção', 'Nome Subunção', 'Código Programa',
       'Nome Programa', 'Código Ação', 'Nome Ação', 'Linguagem Cidadã',
       'CPF Favorecido', 'Nome Favorecido', 'Documento Pagamento',
       'Gestão Pagamento', 'Data Pagamento', 'Valor Pagamento'],
      dtype='object')

In [34]:
diarias.dtypes  # Para verificar cada tipo de coluna
# Object é o mesmo que String.

Código Órgão Superior         int64
Nome Órgão Superior          object
Código Órgão Subordinado      int64
Nome Órgão Subordinado       object
Código Unidade Gestora        int64
Nome Unidade Gestora         object
Código Função                 int64
Nome Função                  object
Código Subfunção              int64
Nome Subunção                object
Código Programa               int64
Nome Programa                object
Código Ação                  object
Nome Ação                    object
Linguagem Cidadã             object
CPF Favorecido               object
Nome Favorecido              object
Documento Pagamento          object
Gestão Pagamento              int64
Data Pagamento               object
Valor Pagamento             float64
dtype: object

In [36]:
filmes = pd.read_csv('./movies.csv', sep = ',')

In [38]:
filmes.head(2)

,star rating,title,content rating,genre,duration,actors list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [42]:
filmes.describe()  # O método describe só utiliza colunas com números (int ou float) para análise.

       star rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [41]:
filmes.dtypes

star rating       float64
title              object
content rating     object
genre              object
duration            int64
actors list        object
dtype: object

In [46]:
filmes.describe(include=['object'])  # Para fazer uma análise dos tipos 'object', tem que usar o incluse='object'.

,title,content rating,genre,actors list
count,979,976,979,979
unique,975,12,16,969
top,Les Miserables,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [ ]:
filmes.describe()  # Se pressionar SHIFT + TAB até 3 vezes, abre um menu com os parametros.

In [48]:
filmes.columns

Index(['star rating', 'title', 'content rating', 'genre', 'duration',
       'actors list'],
      dtype='object')

In [53]:
# Renomear colunas. Se não usar o 'inplace=True', a mudança é apenas na célula.
filmes.rename(columns = {'star rating':'star_rating', 'content rating': 'content_rating' }, inplace=True)

In [55]:
filmes.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors list'],
      dtype='object')

In [57]:
# Podemos também passar uma lista  explicitamente.
colunas = ['Estrelas', 'Titulo', 'Avaliacao', 'Genero', 'Duracao', 'Atores']
filmes.columns = colunas

In [58]:
filmes.columns

Index(['Estrelas', 'Titulo', 'Avaliacao', 'Genero', 'Duracao', 'Atores'], dtype='object')

In [7]:
colunas_filmes = ['Estrelas', 'Titulo', 'Avaliacao', 'Genero', 'Duracao', 'Atores']
filmes = pd.read_csv('./movies.csv', sep = ',', header = 0, names=colunas_filmes)
# Passando o nome das colunas diretamente na importação do arquivo.

In [8]:
filmes_csv = pd.read_csv('./movies.csv')

In [15]:
filmes_csv.columns = filmes_csv.columns.str.replace(' ', '_')

In [16]:
filmes_csv.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

## Removendo colunas do dataframe.

In [17]:
# Por boa prática, ao realizar alteração no dataframe, devemos atribiuir o dataframe a outra variavel.
# Assim é possível rastrear as mudanças realizadas.
# Também é possível utilizar o 'inplace=True'

# axis 0 == Linha // axis 1 == Coluna

filmes01 = filmes_csv.drop('content_rating', axis=1)

In [20]:
filmes01.head(2)

,star_rating,title,genre,duration,actors_list
0,9.3,The Shawshank Redemption,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [23]:
# Para remover mais de uma coluna, tem que passar uma lista:
filmes02 = filmes_csv.drop(['content_rating', 'duration', 'actors_list'], axis=1)

In [24]:
filmes02.head(2)

   star_rating                     title  genre
0          9.3  The Shawshank Redemption  Crime
1          9.2             The Godfather  Crime

In [30]:
# Removendo linhas do dataframe
# axis 0 == Linha // axis 1 == Coluna

filmes03 = filmes02.drop([0,1], axis=0)

In [32]:
filmes03.head(3)

   star_rating                   title   genre
2          9.1  The Godfather: Part II   Crime
3          9.0         The Dark Knight  Action
4          8.9            Pulp Fiction   Crime