In [4]:
import numpy as np
import pandas as pd

In [5]:
filmes = pd.read_csv('./movies.csv')
filmes.columns = filmes.columns.str.replace(' ', '_')
filmes.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

## Filtros multiplos

In [ ]:
# Filtro simples para filmes com mais de 180 minutos de duração.
filmes[filmes.duration >= 180]

In [14]:
# Para filtros multiplos, usa-se os operadores lógicos AND (&) ou OR (|)
dramas_longos = filmes[(filmes.genre == 'Drama') & (filmes.duration >= 200)]
dramas_longos

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [ ]:
# Trazer somente filmes com Drama ou Ação
drama_ou_acao = filmes[(filmes.genre == 'Action') | (filmes.genre == 'Drama')]
drama_ou_acao

## Utilizando o método ISIN

In [21]:
filmes[filmes.star_rating.isin([8, 8.5, 9])].head(3)

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."

In [30]:
filmes[(filmes.genre.isin(['Crime', 'Drama'])) & (filmes.duration >= 210)]

,star_rating,title,content_rating,genre,duration,actors_list
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."